@font-face {
  font-family: "Sentient";
  src: url("/fonts/Sentient-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentient";
  src: url("/fonts/Sentient-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}